<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yizhidu.mapper.PaperMapper">

    <select id="selCates" resultType="com.yizhidu.pojo.Category">
         select * from category
    </select>

    <select id="selTopics" resultType="com.yizhidu.pojo.Topics">
         select * from topics where cid=#{cid} order by rand() limit #{count}
    </select>

    <select id="selCatesByCid" resultType="com.yizhidu.pojo.Category">
         select * from category where cid=#{cid}
    </select>

    <select id="getCountWithCate" parameterType="java.lang.Integer" resultType="Integer">
         select count(1) from topics where cid=#{cid}
    </select>
    <select id="getCount" resultType="Integer">
         select count(1) from topics
    </select>

</mapper>